.body-section {
    padding: 5px;
    border: 1px solid gray;
  }
  
  .header-section {
    margin-top: 10px;
  }
  
  .table-bordered {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-bordered th,
  .table-bordered td {
    padding: 5px;
    border: 1px solid #dee2e6;
    text-align: left;
    font-size: 10px;
  }
  
  .table-bordered th {
    background-color: #f2f2f2;
  }
  
  .heading {
    font-size: 12px;
    margin-bottom: 2px;
  }
  
  .text-right {
    text-align: right;
  }
  
  .signature-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
  }
  
  .signature {
    text-align: right;
  }
  
  @media print {
    .body-section {
      padding: 5px;
      width: 80mm;
    }
  
    .header-section {
      margin-top: 5px;
    }
  
    .table-bordered th,
    .table-bordered td {
      padding: 2px;
      font-size: 8px;
    }
  
    .heading {
      font-size: 10px;
    }
  
    .signature-section {
      margin-top: 10px;
      font-size: 8px;
    }
  
    .signature {
      text-align: right;
    }
  }
  